div#outer
    div#inner
        div#hero
            img(src="http://placekitten.com/810/300")
            div#text
        div#left
            img(src="http://placekitten.com/395/315")
            div#text
        div#right
            img(src="http://placekitten.com/395/315")
            div#text