body{
    font-size:12px;
    color:white;
}
a{
    color:white;
}
a:hover,
a:visited{
    color:#efefef;
}

label{
    font-weight:bold;
    padding:3px;
}
#outer {
    width: 810px;
    margin: 20px auto;
}
#inner {
    width: 810px;
    float: left;
}
.text{
    padding:15px;
}
#hero {
    float: left;
    margin-bottom: 20px;
    position: relative;
}
#hero .text{
    position:absolute;
    bottom:0;
    left:0;
    height:30px;
    
    width:780px;
}
#hero .text span{
    display: block
}

#hero span.logo{
    float:right;
    position:absolute;
    bottom:15px;
    right:15px;
}
#left {
    float: left;
    position: relative;
}

#right {
    float: right;
    position: relative;
}

#left .text,
#right .text{
    position:absolute;
    bottom:0;
    left:0;
    height:15px;
    
    width:365px;
}

#edit-window{
    width:470px;
    position:fixed;
    background:#efefef;
    border:1px solid #ccc;
    left:50%;
    margin-left:-250px;
    z-index: 5000;
    top:-1px;
    display:none;
    color:black;
    padding:15px;
}

#edit-window .submit{
    clear:both;
    display:block;
}

#edit-window .section{
    clear:both;
    float:left;
    width:100%;
    padding:10px 0;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
}

#edit-window .field{
    padding:5px;
    clear:both;
}

#edit-window label{
    width:50px;
    display:block;
    float:left;
}

#edit-window input{
    display:block;
    float:left;
    width:390px;
}
#edit-window .submit{
    width:100px;
    float:right;
    display:block;
    padding:3px 5px;
    border:1px solid #ccc;
    color:black;
    text-align:center;
    text-decoration:none;
}
#footer{
    float:left;
    clear:both;
}
#footer a.edit{
    color:black;
}

